* {
    border: none;
    font-family: "Cascadia Code NF, Roboto, Helvetica, Arial, sans-serif";
    font-weight: bold;
    font-size: 15px;
    min-height: 10px;
    color: #E6F1FF;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    background-color: transparent;
    border-radius: 6px;
}

#clock,
#network,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#window,
#workspaces,
#custom-archlogo,
#custom-power {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
}

#custom-archlogo {
  font-size: 25px;
  background-color: #7DAFFF;
  padding: 0px 8px;

}

#workspaces {
  background-color: #12385C;
  padding: 0px 3px;
  opacity: 1;
  font-size: 20px;
  border-radius: 6px;
}

#workspaces button {
    background-color: #3EC6C3;
    padding: 0px 3px;
    margin: 3px;
    border-radius: 6px;
    border: none;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

#workspaces button:hover {
    background: #8BA1E2;
    opacity: 1;
    animation: none;
}

#workspaces button.focused {
    background-color: #7DAFFF;
}

#workspaces button.urgent {
    background-color: #FFD66B;
}

#workspaces button.active {
    background-color: #7DAFFF;
    min-width: 20px;
    opacity: 1;
}

#window {
    background-color: #12385C;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px;
    border-radius: 6px;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #9a7dd4;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #FFD66B;
}

#idle_inhibitor {
    font-size: 20px;
    background-color: #7DAFFF;
    padding: 0px 5px;
    margin: 3px;
    border-radius: 6px;
    border: none;
    opacity: 0.8;
}

#idle_inhibitor.activated {
    background-color: #FFD66B;
    color: #0B1E38;
}

#custom-power {
  font-size: 20px;
  background-color: #3EC6C3;
  padding: 0px 8px;
}

#custom-bluetooth {
  padding: 0 5px;
  font-size: large;
}
